django==3.2.14
certifi==2020.6.20
mock==4.0.2
djangorestframework==3.11.2
PyYAML==5.4
djangorestframework-xml==2.0.0
requests==2.31.0
boto==2.49.0
lxml==4.9.1
pika==1.1.0
jsonschema==3.2.0
psycopg2==2.8.6
urllib3>=1.26.5 # not directly required, pinned by Snyk to avoid a vulnerability
